@model NewsListViewModel
@{
    ViewBag.Title = "Новостная лента";
}

<header>
    <h1>@ViewBag.Title</h1>
    <a asp-action="IndexApi">Вариант страницы с асинхронным режимом работы</a>

    @await Component.InvokeAsync(nameof(RequestForm), Model.RequestFormData)
</header>

@if (Model.News.Any())
{
    <main>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Источник</th>
                    <th scope="col">Название новости</th>
                    <th scope="col">Описание новости</th>
                    <th scope="col">Дата публикации</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var news in Model.News)
                {
                    <tr>
                        <td>@news.NewsSource</td>
                        <td>@news.Title</td>
                        <td>@Html.Raw(news.Description)</td>
                        <td>@news.PublishDate</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="News pages"
             paging-info="@Model.PagingInfo"
             request-form-data="@Model.RequestFormData"
             pages-list-class="pagination m-0">
        </nav>
    </main>
}
else
{
    <p>Нет новостей</p>
}
